{%extends 'base.html'%}
{% block content %}
<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
    function noEvent() {
        if (event.keyCode == 116) {
            event.keyCode = 2;
            return false;
        }
        else if (event.ctrlKey && (event.keyCode == 78 || event.keyCode == 82)) {
            return false;
        }
    }
    document.onkeydown = noEvent;
</script>
history.qu : <div id="history_set" value="{{history.set}}">{{history.set}}</div>
<h1>check page</h1>
<p>결과 : {{result}}</p>

{%if count == 12%}
<form action="{%url 'result'%}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="history" value="{{history.id}}">
    <input type="submit" value="결과보기">
</form>
{%else%}
<form action="{%url 'quiz'%}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="history" value="{{history.id}}">
    <input type="submit" value="NEXT">
</form>

{%endif%}


{% endblock %}