{%extends 'base.html'%}
{% block content %}
<style>

</style> 

<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <div class="base1" align="center"> 
            <p>
                    <span style="font-size:3rem;color:white;font-weight:700;">멋쟁이 사자처럼:</span>
                    <span style="font-size:3rem;color:white;font-weight:400;line-height:1.5em">QUIZ</span>
            </p>
            
        </div>
        <div class="base2" align="center">
            <form action="{% url 'ch_start'%}">
                <button type="submit" class=" start">도전모드</button>
            </form>
        </div>
        <div class="base2" align="center">
            <form action="{% url 'start'%}">
                <button type="submit" class=" start">연습모드</button>
            </form>
        </div>

    </div>
</div>

{% endblock %}