{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<script>
    settime = 10
    function timer() {
        document.getElementById('time').innerHTML = settime
        settime--;
        if (settime == 0) {
            document.getElementById("timeout").submit();
        }
    }
    window.onload = function TimerStart() {
        tid = setInterval('timer()', 1000)
    };
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
    function noEvent() {
        if (event.keyCode == 116) {
            event.keyCode = 2;
            return false;
        }
        else if (event.ctrlKey && (event.keyCode == 78 || event.keyCode == 82)) {
            return false;
        }
    }
    document.onkeydown = noEvent; 
</script>
<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <div class="base1" align="center">
            <p style="font-size:1.75rem;color:white;font-weight:500;line-height:1.2em">Q{{history.count}})
                {{quiz.content}} </p>
        </div>
        <div align="center">
            {%if quiz.category == "O/X"%}
            <form class="form-group" action="{%url 'quiz'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="quiz" value="{{quiz.id}}">
                <input type="hidden" name="history" value="{{history.id}}">
                <input type="hidden" name="select" value="{{quiz.example1}}">
                <input class="quiz" type="submit" value="{{quiz.example1}}">
            </form>
            <form class="form-group" action="{%url 'quiz'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="quiz" value="{{quiz.id}}">
                <input type="hidden" name="history" value="{{history.id}}">
                <input type="hidden" name="select" value="{{quiz.example2}}">
                <input class="quiz" type="submit" value="{{quiz.example2}}">
            </form>

            {%elif quiz.example3 == "빈칸"%}
            <form class="form-group" action="{%url 'quiz'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="quiz" value="{{quiz.id}}">
                <input type="hidden" name="history" value="{{history.id}}">
                <input type="hidden" name="select" value="{{quiz.example1}}">
                <input class="quiz" type="submit" value="{{quiz.example1}}">
            </form>
            <form class="form-group" action="{%url 'quiz'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="quiz" value="{{quiz.id}}">
                <input type="hidden" name="history" value="{{history.id}}">
                <input type="hidden" name="select" value="{{quiz.example2}}">
                <input class="quiz" type="submit" value="{{quiz.example2}}">
            </form>

            {%elif quiz.category == "객관식"%}

            <form class="form-group" action="{%url 'quiz'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="quiz" value="{{quiz.id}}">
                <input type="hidden" name="history" value="{{history.id}}">
                <input type="hidden" name="select" value="{{quiz.example1}}">
                <input class="quiz" type="submit" value="{{quiz.example1}}">
            </form>
            <form class="form-group" action="{%url 'quiz'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="quiz" value="{{quiz.id}}">
                <input type="hidden" name="history" value="{{history.id}}">
                <input type="hidden" name="select" value="{{quiz.example2}}">
                <input class="quiz" type="submit" value="{{quiz.example2}}">
            </form>
            <form class="form-group" action="{%url 'quiz'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="quiz" value="{{quiz.id}}">
                <input type="hidden" name="history" value="{{history.id}}">
                <input type="hidden" name="select" value="{{quiz.example3}}">
                <input class="quiz" type="submit" value="{{quiz.example3}}">
            </form>
            {%endif%}
            <form id="timeout" action="{%url 'quiz'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="quiz" value="{{quiz.id}}">
                <input type="hidden" name="history" value="{{history.id}}">
                <input type="hidden" name="select" value="시간초과">
            </form>
        </div>
        <h3 style="color:red;font-size:1.25rem;" align="center" id=time>10</h3>
        <h5 style="color:white;font-size:0.9rem;" align="right">출처 : {{quiz.source}}</h5> 
    </div> 
</div>





{% endblock %}