{%extends 'base.html'%}
{%block content%}
<div class='container'>
    <h1>signup</h1>

    <form method = "POST" action="{%url 'signup'%}" >
        {%csrf_token%}
        ID
        <br>
        <input type="text" name='username'>
        <br>
        Password
        <br>
        <input type="password" name='password1'>
        <br>
        Confirm Password
        <br>
        <input type="password" name='password2'>
        <br>
        <br>
        <input class='btn btn-light' type="submit" value="회원가입">
    </form>
</div>
{%endblock%}